@import "./SearchBar/_searchBar.scss";

.links-bar {
  background-color: $teal-700;
  height: 100%;
  transition: width 0.5s ease-in-out;
  width: 200px;

  &.links-bar--shrink {
    width: 45px;
    .links {
      .link {
        // background-color: red;
        .link__text {
          opacity: 0;
        }
      }
    }
  }

  &__header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    background-color: $teal-400;
    color: $teal-50;

    .search-bar {
      padding: 0 10px;
    }

    .btn {
      box-shadow: none;
      border: none;
      height: 38px;
      border-radius: 0;
      background-color: inherit;
      flex-grow: 0;
      text-align: center;
      padding: 4px 8px;
      flex-shrink: 0;
    }
  }
}

.links {
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 38px);

  .link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    border-radius: 0;
    color: $teal-50;
    background-color: $teal-600;
    padding: 5px 10px 5px 13px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background-color: $teal-400;
    }

    .link__img {
      flex-grow: 0;
      flex-shrink: 0;
      height: 12px;
      width: 12px;
      margin-right: 10px;
      border-radius: 50%;
      padding: 3px;
      box-sizing: content-box;
      background-color: $teal-50;
    }

    .link__text {
      opacity: 1;
      transition: opacity .3s ease-in-out 0.2s;
    }
  }
}