$deep-purple-800: #4527A0;
// $deep-purple-800: #4527A0;
// $teal-50: #e2f5ff;
// $teal-100: #B2DFDB;
// $teal-200: #59c9f5;
// $teal-300: #4DB6AC;
// $teal-300: #4DB6AC;
// $teal-400: #29a5d2;
// $teal-500: #009688;
// $teal-600: #1991B7;
// $teal-700: #097d9e;


$teal-900: #005d71;
$teal-800: #0a7f9e;
$teal-700: #1992b7;
$teal-600: #27a6d2;
$teal-500: #030303;
$teal-400: #3ac0ee;
$teal-300: #58cbf4;
$teal-200: #87dafa;
$teal-100: #b6e8fd;
$teal-50: #e2f6ff;
